.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0a4a92;
}

.App-header-title {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: 60px;
  min-width: 100vw;
}

.App-link {
  color: #61dafb;
}